@import url('https://fonts.googleapis.com/css?family=Life+Savers|Anonymous+Pro|Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 30px;
}

h1 {
  font-size: 1.875em;
  color: #666;
}

h2 {
  font-size: 1.625em;
  color: #666;
  text-transform: uppercase;
}

h3 {
  font-size: 1.375em;
  color: #666;
  text-transform: uppercase;
}

ul > li {
  line-height: 24px;
}

p {
  line-height: 1.7em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 1.125em;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

a {
  line-height: 1.7em;
  text-decoration: none;
  border-bottom: 1px solid #76d7c4;
  transition: border-bottom 0.5sec linear, text-shadow 0.5sec linear;
}

a:hover {
  text-shadow: 0 0 1px black;
  border-bottom: 2px solid #76d7c4;
  transition: border-bottom 0.5sec linear, text-shadow 0.5sec linear;
}

img {
  max-width: 100%;
}
