<footer>
  <div class="footer-container">
    <a href="{{ social.twitter }}" rel="noopener" target="_blank">{% include "../../static/social/twitter.svg" %}</a>
    <a href="{{ social.linkedin }}" rel="noopener" target="_blank">{% include "../../static/social/linkedin.svg" %}</a>
    <a href="{{ social.github }}" rel="noopener" target="_blank">{% include "../../static/social/github.svg" %}</a>
    <a href="{{ social.codepen }}" rel="noopener" target="_blank">{% include "../../static/social/codepen.svg" %}</a>
    <a href="{{ social.codesandbox }}" rel="noopener" target="_blank">{% include "../../static/social/codesandbox.svg" %}</a>
  </div>
  <div class="copyright">&copy;Bane Debeljević {{ new Date().getFullYear() }}</div>
</footer>
