<footer>
  <div class="footer-container">
    <a href="{{ social.twitter }}" title="Twitter Link" rel="noopener" target="_blank">{% include "../../static/social/twitter.svg" %}</a>
    <a href="{{ social.linkedin }}" title="LinkedIn Link" rel="noopener" target="_blank">{% include "../../static/social/linkedin.svg" %}</a>
    <a href="{{ social.github }}" title="GitHub Link" rel="noopener" target="_blank">{% include "../../static/social/github.svg" %}</a>
    <a href="{{ social.codepen }}" title="CodePen Link" rel="noopener" target="_blank">{% include "../../static/social/codepen.svg" %}</a>
    <a href="{{ social.codesandbox }}" title="CodeSandbox Link" rel="noopener" target="_blank">{% include "../../static/social/codesandbox.svg" %}</a>
  </div>
  <div class="copyright">&copy;Bane Debeljević 2022</div>
</footer>
