<nav>
  <div id="menu-container" onclick="handleMenuClick()">
    <span></span>
    <span></span>
    <span></span>
    {% set navPages = collections.all | eleventyNavigation %}
      <ul id="menu-list" onclick="handleMenuClick()">
      {%- for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
        </li>
      {%- endfor %}
      </ul>
  </div>
</nav>
