---
section: home
---

<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			{% include "components/nav.njk" %}
		</header>

		<main>
			<div class="home-container">
				{{ layoutContent | safe }}
			</div>
		</main>

	</body>

</html>

